name: Lint
permissions:
  contents: read
  pull-requests: write

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - uses: psf/black@9c129567e75728e2b9382f4c79bf72ef6beac37e
        with:
          options: "--check --verbose"
          version: "~= 24.0"
