name: Lint
permissions:
  contents: read
  pull-requests: write

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - uses: psf/black@dd937dcc7e6fd260c87868ed044a29042056cb00
        with:
          options: "--check --verbose"
          version: "~= 24.0"
